*.zip
*.rar
*.7z
*.tar
*.mp4
*.avi
*.png
*.drawio

.venv/
venv/
env/
ENV/

.mp4
.png
.drawio

__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

*.log
data_raw/
temp/